:root {
    --color-P: darkred;
    --color-S: white;
    --color-A: rgb(255, 230, 0);
}

* {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    min-height: 200vh;
}

.color-P{
    color: var(--color-P)
}

.bg-p{
    background-color: var(--color-P);
}

.title-font {
    font-family: "Ojuju", sans-serif;
    font-style: normal; 
}

.transition {
    transition: 0.7s;
}

/* NAVBAR */
.nav-scrolled{
    margin: 5vh 15vw;
    background-color: rgba(139, 0, 0, 0.5) !important;
    backdrop-filter: blur(10px);
    border: 1px solid var(--color-A);
    border-radius: 10px;
}

/* HEADER */

.masthead{
    height: 75vh;
    background-color: var(--color-P);
}

.boxQuote{
    height: 25vh;
}

/* CATEGORIE */

.img-category{
    width: 100%;
    border-radius: 50%;
    border: 5px solid var(--color-P);
    padding: 5px;
}


/* SEZIONE NUMERI */

.box-numeri{
    height: 150px;
    background-color: var(--color-P);
    border-radius: 20px;
    border: 2px solid black;
    color: var(--color-S);
} 